<div class="card-header">
    <span class="left">
        <a class="card-profile" href="#">
            <img src="@Parent.Profile.Image" alt="@Parent.Profile.DisplayName" data-bs-toggle="tooltip"
                 data-placement="bottom" title="@Parent.Profile.DisplayName"/>
        </a>@Parent.ReportItemCaption
    </span>
    <span class="time-stamp" data-bs-toggle="tooltip" data-placement="bottom"
          title="@Parent.Timestamp">
            @Parent.TimestampTitle
    </span>
</div>

@code {
    [Parameter] public required ReportItemBase Parent { get; set; }
}