<div class="card-header">
        <span>
            <a class="card-profile" href="#">
                <img src="@Parent.Profile.Image" alt="@Parent.Profile.DisplayName" data-bs-toggle="tooltip"
                     data-placement="bottom" title="@Parent.Profile.DisplayName"/>
            </a>@Parent.ReportItemCaption
        </span>
    <span class="time-stamp left" data-bs-toggle="tooltip" data-placement="bottom"
          title="@Parent.Timestamp">
            @Parent.TimestampTitle
        </span>
</div>

@code {
    [Parameter] public required ReportItemBase Parent { get; set; }
}