@using rescute.Application
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IStringLocalizer<LocalizationResources> Localizer
@inject IApplicationConfiguration Config
@inject NavigationManager Navigation

<nav id="mainNav" class="main-nav bg-nav">
    <a class="nav-toggle nav-item">
        <i class="fa fa-fw fa-bars"></i>
    </a>
    <a class="nav-item nav-profile" href="#">
        <img src="img/profile.jpg" alt="@userName"/>
        <p>@userName</p>
    </a>
    <a class="nav-item" href="#"><i class="fa fa-fw fa-copy"></i> @Localizer[LocalizationResources.Reports]</a>
    <a class="nav-item" href="#"><i
            class="fa fa-fw fa-credit-card"></i> @Localizer[LocalizationResources.CreditAndTransactions]</a>
    <a class="nav-item" href="#"><i class="fa fa-fw fa-heart"></i> @Localizer[LocalizationResources.AboutUs]</a>
</nav>

@code {
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userName = authState.User.FindFirst(c => c.Type == "name")?.Value;
    }

}